.form-group{
    margin-bottom: 1px;
}

label{
    font-size: 12px;
    background-color: gray;
    color: white;
}
input, select{
    border-radius: 0;
    border: 1px solid gray;
}

.input-div{
    padding: 1px;
}