<div class="form-group row mt-5">
    <div class="col input-div">
      <label class="text-center">Contact</label>
      <input type="text" class="form-control form-control-sm" id="page_no" name="page_no">
    </div>

    <div class="col input-div">
      <label class="text-center">Agency Name</label>
      <input type="text" class="form-control form-control-sm" id="page_no" name="page_no">
    </div>

    <div class="col input-div">
        <label class="text-center">First Name</label>
        <input type="text" class="form-control form-control-sm" id="page_no" name="page_no">
    </div>

    <div class="col input-div">
        <label class="text-center">Lastname</label>
        <input type="text" class="form-control form-control-sm" id="page_no" name="page_no">
    </div>
</div>

<hr>

