.form-group{
    margin-bottom: 1px;
}

label{
    font-size: 12px;
    background-color: gray;
    color: white;
    border: 1px solid white;        
}
input, select{
    border-radius: 0;
    border: 1px solid gray;
}

.input-div{
    padding: 1px;
}

.has-error{
    background-color: lightcoral;
}



/** Property Features **/
/* Customize the label (the container) */
.container {
    display: block;
    background-color: lightgray;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 22px;
    margin: 1px;
    color: black;
  }
  
  .container:hover{
      background-color: #888;
      color: white;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #888;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #607D8B;
  }

  .container input:focus ~ .checkmark {
    background-color: gold;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #607D8B;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .feature-div{
      margin-bottom: 1px;
      padding: 0;
  }

  /** Radio Button **/
  .maxl{
    margin:5px ;
  }
  .inline{
    display: inline-block;
    width: 75   px;
  }
  .inline + .inline{
    margin-left:10px;
  }
  .radio{
    color:#999;
    font-size:15px;
    position:relative;
    background-color: white;
  }
  .radio span{
    position:relative;
     padding-left:20px;
  }
  .radio span:after{
    content:'';
    width:15px;
    height:15px;
    border:3px solid;
    position:absolute;
    left:0;
    top:1px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .radio input[type="radio"]{
     cursor: pointer; 
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
  .radio input[type="radio"]:checked + span{
    color:#0B8;  
  }
  .radio input[type="radio"]:checked + span:before{
      content:'';
    width:5px;
    height:5px;
    position:absolute;
    background:rgb(1, 43, 31);
    left:5px;
    top:6px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
  }