
<div class="mt-4 col-8 offset-2">
  <div class="card">
      <div class="card-header">Signup</div>
      <div class="card-body">
        <form #signupForm=ngForm (ngSubmit)="onSubmit()">
          <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="name" placeholder="Name" required [(ngModel)]="form.name">
              </div>
            </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" name="email" class="form-control" id="email" placeholder="Email" required [(ngModel)]="form.email">
              <span class="text text-danger" [hidden]="!error.email">
                  {{ error.email }}
              </span>
            </div>
          </div>
          
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" name="password" class="form-control" id="password" placeholder="Password" required [(ngModel)]="form.password"> 
              <span class="text text-danger" [hidden]="!error.password">
                  {{ error.password }}
              </span>
            </div>
          </div>     
          <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm</label>
              <div class="col-sm-10">
                <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" placeholder="Password Confirmation" required [(ngModel)]="form.password_confirmation"> 
              </div>
            </div>     
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Signup</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>