/* You can add global styles to this file, and also import other style files */
@import '~ng-snotify/styles/material.css';


@media (max-width: 576px) { 

}

@media (min-width: 900px) { 
    .container-fluid{
        padding-left: 20%;    
        padding-right: 20%;
    }
}


.ng-invalid:not(form){
    border-left: 5px solid red;
}

.ng-valid:not(form){
    border-left: 5px solid green;
}

.ng-touch:not(form){
    border: 5px solid green;
}












