
    <div class="form-group row mb-1">
    <label for="Page_No" class="col-2 col-form-label text-right" [class.has-error]="page_no.invalid && page_no.touched">Page No.</label>
    <div class="col-2 input-div">
        <input type="text" id="Page_No" name="Page_No" class="form-control form-control-sm" required [(ngModel)]="form.Page_No" #page_no="ngModel">
    </div>
    </div>
    
    <div class="form-group row">
        <label for="State" class="col-2 col-form-label text-right" [class.has-error]="state.invalid && state.touched">State</label>
        <div class="col-2 input-div">
            <select id="State" name="State" class="custom-select custom-select-sm" required [(ngModel)]="form.State" #state="ngModel">
            <option *ngFor="let state of states" [value]="state.code">{{ state.code }}</option>
            </select>
        </div>
    </div>
    
    <div class="form-group row mb-1">
        <label for="Property_Type" class="col-2 col-form-label text-right" [class.has-error]="property_type.invalid && property_type.touched">Prop. Type</label>
        <div class="col-4 input-div">
            <select id="Property_Type" name="Property_Type" class="custom-select custom-select-sm" required [(ngModel)]="form.Property_Type" #property_type="ngModel">
                <option *ngFor="let property_type of property_types" [value]="property_type.code">{{ property_type.property_type }}</option>
            </select>
        </div>
    </div>
    
    <div class="form-group row">
        <label for="Unit_No" class="col-2 col-form-label text-sm-right">Unit No.</label>
        <div class="col-2 input-div">
        <input type="text" id="Unit_No" name="Unit_No" class="form-control form-control-sm"  [(ngModel)]="form.Unit_No">
        </div>
    </div>

    <div class="form-group row">
        <label for="Street_No" class="col-2 col-form-label text-right" [class.has-error]="street_no.invalid && street_no.touched">Street No</label>
        <div class="col-2 input-div">
        <input type="text" id="Street_No" name="Street_No" class="form-control form-control-sm"  required [(ngModel)]="form.Street_No" #street_no="ngModel">
        </div>
        <div class="col-1 input-div">
        <input type="text" class="form-control form-control-sm" id="Street_No_Suffix" name="Street_No_Suffix" [(ngModel)]="form.Street_No_Suffix">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="Street_Name" class="col-2 col-form-label text-right" [class.has-error]="street_name.invalid && street_name.touched">Street Name</label>
        <div class="col-5 input-div">
        <input type="text" id="Street_Name" name="Street_Name" class="form-control form-control-sm" required [(ngModel)]="form.Street_Name" #street_name="ngModel">
        </div>
        <div class="col-3 input-div">
            <select id="Street_Extension" name="Street_Extension" class="custom-select custom-select-sm" [(ngModel)]="form.Street_Extension">
            <option>----</option>
            <option>Street</option>
            <option>Road</option>
            <option>Highway</option>
            </select>
        </div>
        <div class="col-2 input-div">
            <select id="Street_Direction" name="Street_Direction" class="custom-select custom-select-sm" [(ngModel)]="form.Street_Direction">
                <option></option>
                <option>North</option>
                <option>East</option>
                <option>West</option>
                <option>South</option>
            </select>
        </div>
    </div>
    
    <div class="form-group row">
        <label for="suburb" class="col-2 col-form-label text-right" [class.has-error]="suburb.invalid && suburb.touched">Suburb</label>
        <div class="col-4 input-div">
        <input type="text" id="Suburb" name="Suburb" class="form-control form-control-sm" required [(ngModel)]="form.Suburb" #suburb="ngModel">
        </div>
        <div class="col-2 input-div">
        <input type="text" id="PostCode" name="PostCode" class="form-control form-control-sm" pattern="[0-9]{4}"  required [(ngModel)]="form.PostCode">
        </div>
    </div>
    